@import url(https://fonts.googleapis.com/css?family=Lato:400,100italic);
/*font-family: 'Lato', sans-serif; ohut teksti*/
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,400italic);
/*font-family: 'Ubuntu Mono', main teksti*/
@import url(https://fonts.googleapis.com/css?family=Nothing+You+Could+Do);
/*font-family: 'Nothing You Could Do', cursive; Ylaalatkesti*/
@import url(https://fonts.googleapis.com/css?family=Arvo:700);

html {
    scroll-behavior: smooth;
}

body {
    height:100%;
    background-color:#1E1E20;
}
  
.hero {
    width:500px;
    margin:10% auto;
}
  
.title {
    color:#f0f0f0;
    font-family: Arvo;
    font-weight:bold;
    text-shadow:
      -2px -4px 0 #222,
      4px -4px 0 #222,
      -3px 3px 0 #222,
      3px 3px 0 #222,
      2px 4px 0 #f0f0f0,
      5px 5px 0 #f0f0f0,
      1px 2px 0 #f0f0f0,
      7px 7px 0 #f0f0f0;
    line-height:0.95em;
    letter-spacing:0.06em;
    transform:scaleY(0.8);
    -webkit-transform:scaleY(0.8);
    -moz-transform: scaleY(0.8);
    margin:0;
    text-align:center;
}

.title2 {
    font-family: arvo;
    font-size: 25px;
    color: #f0f0f0;
}

.text {
    font-family: 'Lato', sans-serif;
    color: #d6d6d6;
    font-size: 17px;
}
  
.top-title {
    font-family: 'Nothing You Could Do', cursive;
    color:#d6d6d6;
    text-align:center;
    font-size:40px;
    position:relative;
    margin:0;
}
  
.top-title:before {
    content:"";
    display: block;
    position: absolute;
    z-index:-1;
    top: 50%;
    width: 100%;
    border-bottom: 2px solid #d6d6d6;
}
  
.top-title span {
    background-color:#1E1E20;
    padding:0 0.2em;
}
  
.text1 {
    font-size: 60px;
}
.text2 {
    font-size: 169px;
}
.text3 {
    font-size: 100px;
}
  
.container {
    width:650px;
    height:1030px;
    margin:10% auto;
}
  
.title-who {
    font-family:arvo;
    font-size:25px;
    color:#f0f0f0;
}

.column {
    margin: 40px;
    font-family: 'Lato', sans-serif;
    color:#d6d6d6;
    font-size:17px;
}
  
a {
    text-decoration:none;
}
  
li {
    list-style:none;
}
  
.navbox {
    width:1000px;
    margin:1% auto;
    text-align:center; 
}
  
.navi {
    color:#f0f0f0;
    font-family:Arvo;
    word-spacing:0.5em;
    position:relative;
    left:-3%; 
}
  
.navi li {
    display:inline-block;
    text-align:center;
}

.navi a {
    font-family: 'Lato', sans-serif;
    display:block;
    padding:2em;
    text-transform:uppercase;
    line-height:0px;
    color: #f0f0f0;
    font-size:1em;
    letter-spacing:0.3em;
    font-weight:bold;
    transition-property:color;
    transition-duration:.2s, 1s;
    transition-timing-function:linear, ease-in;
}
  
.navi a:hover{
    color:#DE6141;
}
  
footer {
   width:100%;
   height:20px;
   background-color:#565656;
}
  
footer p {
    text-align:center;
    color:#f0f0f0; 
}
    
#gallery {
    position: relative;
    width: 800px;
    margin:auto;
    background: #1E1E20;            
}

#gallery ul {
    position:relative;
    top:-40%;
    margin-left:-60px; 
}
               
#gallery ul li {
    list-style:none; 
    display:inline-table; 
    padding:10px;
}

#gallery ul li img {
    object-fit: cover;
}

                   
#gallery ul li .pic{
    -webkit-transition: all 0.9s ease-in-out;
    -moz-transition: all 0.9s ease-in-out;
    -o-transition: all 0.9s ease-in-out;
    opacity:0;
    visibility:hidden; 
    position:absolute; 
    margin-top:10px; 
    margin-left:-20px; 
    border:1px solid black;
}
  
              
#gallery ul li:hover .pic {
    width:300px; 
    height:300px;
    opacity:1; 
    visibility:visible; 
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.contact-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-info span {
    margin-right: 20px;
}

.contact-info a {
    color: #fff;
    text-decoration: none;
}